.dropdownContent {
    display: grid;
    grid-template-columns: 40px 1fr;
    width: 100%;
    cursor: pointer;
}

.headingborder {
    border-bottom: 2px solid var(--color-darker-emerald);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    background-color: var(--color-background-soft);
    border-radius: 7px;
    margin-bottom: 15px;
}

.dropdownOpen {
    background-color: var(--color-background);
    border: 1px solid var(--color-emerald);
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;

    padding-bottom: 15px;
}

.dropdownClosed {
    background-color: var(--color-background-soft);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    border: 1px solid var(--color-emerald);
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
}

.arrowIcon {
    transition: transform 0.3s ease;
    scale: 1.5;
}

.rotate180 {
    transform: rotate(180deg);
}

.dropdownButton {
    grid-column: 1;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.dropdownButton:hover {
    color: var(--color-text-weak);
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.dropdownTitle {
    grid-column: 2;
    text-align: center;
}

.dropdownChildren {
    padding-left: 10px;
    padding-right: 10px;
}

.quickmenu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    flex-shrink: 0;

    border: 1px solid var(--color-emerald);
    border-radius: 6px;
    padding: 5px;

    margin-top: 10px;
    padding: 7px;
}

.highlighted {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #ACECCF;
    color: var(--color-background);
    border: 1px solid var(--color-emerald);
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.unhighlited {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: transparent;
}

.contentInset {
    padding: 10px;
    background-color: var(--color-background-soft);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
}

/* For a more spread out look */
.contentInsetExpanded {
    padding: 20px;
    background-color: var(--color-background-soft);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
    display: flex;
    flex-direction: column;
    gap: 10px;
}