.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 12px;
}

.effectTop {
    padding: 10px;
    background-color: var(--color-background-soft);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
}

.effectMiddle {
    padding: 10px;
    background-color: var(--color-background-soft);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
    
}

.effectBottom {
}